@import "~font-awesome/css/font-awesome.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "../node_modules/antd/dist/antd.css";

/* Override Ant Theme */
.groupNav {
    position: relative;
}

.groupNav .ant-menu-dark {
    background-color: transparent;
}

.groupNav .ant-menu-dark > li:not(.ant-menu-submenu-open):not(.ant-menu-item-selected):hover {
    background-color: #374151;
}

.groupNav .ant-menu-dark > li.ant-menu-item-selected {
    background-color: #474f5f;
}

.groupNav .ant-menu-dark > li > .ant-menu-sub {
    background-color: transparent;
    max-height: 210px;
    overflow-y: auto;
}

.groupNav .ant-menu-dark > li > .ant-menu-sub > li:not(.ant-menu-item-selected):hover {
    background-color: #374151;
}

.groupNav .ant-menu-dark.ant-menu-inline .ant-menu-item-selected {
    background-color: #474f5f;
}
  
